name: Build

on:
  workflow_call:
    # inputs:
    #   release-version:
    #     description: 'Release version to build. Should be in format X.Y.Z and not include the v prefix'
    #     required: false
    #     type: string
    #     default: '0.0.0'
      # release-revision:
      #   description: 'Release revision to build'
      #   required: false
      #   type: number
      #   default: 0

defaults:
  run:
    shell: bash

jobs:
  version:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: read
      pull-requests: read
    outputs:
      release_version: ${{ steps.semantic_release.outputs.new_release_version || '0.0.0' }}
    steps:
    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        fetch-depth: 0
        token: ${{ secrets.TEMP_GITHUB_PAT }}
    - name: Semantic Release
      uses: ./.github/semantic-release
      id: semantic_release
      with:
        dry-run: true
      env:
        GITHUB_TOKEN: ${{ secrets.TEMP_GITHUB_PAT }}

  build:
    name: Build RPMs
    runs-on: ubuntu-24.04${{ matrix.arch == 'aarch64' && '-arm' || '' }}
    needs: [version]
    container:
      image: rockylinux/rockylinux:${{ matrix.versions }}
    strategy:
      matrix:
        versions: ['9.6', '10.0']
        arch: ['x86_64', 'aarch64']
    steps:
    - name: Install packages
      shell: bash
      run: |
        dnf install -y epel-release
        dnf update -y
        dnf install -y rpm-build rpmdevtools
        dnf install -y go python3-devel
    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Build source
      env:
        RELEASE_VERSION: ${{ needs.version.outputs.release_version }}
      run: |
        tar --transform "s%^\\./%dnf-plugin-artifact-registry-${RELEASE_VERSION}/%" -cf "dnf-plugin-artifact-registry_${RELEASE_VERSION}.orig.tar.gz" .
    - name: Build RPM
      env:
        RELEASE_VERSION: ${{ needs.version.outputs.release_version  }}
      run: |
        export GOBIN=$(which go)
        export GOPATH=$(go env GOPATH)
        mkdir output
        rpmbuild -ba --define "_sourcedir $PWD" --define "_version $RELEASE_VERSION" --define "_go go" --define "_gopath $GOPATH"  --define "_rpmdir output" packaging/artifact-registry-yum-plugin.spec
        mv output/**/*.rpm output/

    - name: Upload RPMs
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: built-rpms-${{ matrix.versions }}-${{ matrix.arch }}
        path: output/*.rpm
