name: 'CI'
on:
  pull_request:
    branches:
      - main
      - release/**
  push:
    branches:
      - main
      - release/**

jobs:
  build:
    name: Build RPMs
    uses: ./.github/workflows/build.yaml
