name: Release Validation

on:
  pull_request:
    branches:
      - main
      - release/*
    types:
      - opened
      - synchronize
      - reopened
      - edited

permissions:
  contents: read # to fetch code (actions/checkout)
  pull-requests: read # to fetch PR title (amannn/action-semantic-pull-request)

jobs:
  validate-pr-title:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
    - uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6.1.1
      env:
        GITHUB_TOKEN: ${{ secrets.TEMP_GITHUB_PAT }}
  check-release: # make sure commits are valid for a target branch
    name: Check Valid Release Version
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: read
      pull-requests: read
    steps:
    - name: Checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.base.ref }}
        token: ${{ secrets.TEMP_GITHUB_PAT }}
    - name: Temporarily merge PR branch
      shell: bash
      run: |
        git config --global user.name github-actions
        git config --global user.email github-actions@github.com
        git merge --no-ff origin/${{ github.event.pull_request.head.ref }} --message "${{ github.event.pull_request.title }}"
    - name: Semantic Release
      uses: ./.github/semantic-release
      with:
        dry-run: true
        unset-gha-env: true
        ci: false
      env:
        GITHUB_TOKEN: ${{ secrets.TEMP_GITHUB_PAT }}
