name: Semantic Release

on:
  workflow_call:
    inputs:
      dry-run:
        description: 'Dry Run'
        required: true
        type: boolean
        default: false
      download-artifact-pattern:
        description: 'Download Artifact'
        type: string
    outputs:
      new_release_published:
        description: 'Whether a new release was published'
        value: ${{ jobs.semantic-release.outputs.new_release_published }}
      new_release_version:
        description: 'Version of the new release'
        value: ${{ jobs.semantic-release.outputs.new_release_version }}
      new_release_major_version:
        description: 'Major version of the new release'
        value: ${{ jobs.semantic-release.outputs.new_release_major_version }}
      new_release_minor_version:
        description: 'Minor version of the new release'
        value: ${{ jobs.semantic-release.outputs.new_release_minor_version }}
      new_release_patch_version:
        description: 'Patch version of the new release'
        value: ${{ jobs.semantic-release.outputs.new_release_patch_version }}
      new_release_channel:
        description: 'The distribution channel on which the last release was initially made available (undefined for the default distribution channel).'
        value: ${{ jobs.semantic-release.outputs.new_release_channel }}
      new_release_notes:
        description: 'The release notes for the new release.'
        value: ${{ jobs.semantic-release.outputs.new_release_notes }}
      new_release_git_head:
        description: 'The sha of the last commit being part of the new release.'
        value: ${{ jobs.semantic-release.outputs.new_release_git_head }}
      new_release_git_tag:
        description: 'The Git tag associated with the new release.'
        value: ${{ jobs.semantic-release.outputs.new_release_git_tag }}
      last_release_version:
        description: 'Version of the previous release, if there was one.'
        value: ${{ jobs.semantic-release.outputs.last_release_version }}
      last_release_git_head:
        description: 'The sha of the last commit being part of the last release, if there was one.'
        value: ${{ jobs.semantic-release.outputs.last_release_git_head }}
      last_release_git_tag:
        description: 'The Git tag associated with the last release, if there was one.'
        value: ${{ jobs.semantic-release.outputs.last_release_git_tag }}

permissions:
  contents: write # to create GitHub release (cycjimmy/semantic-release-action)
  id-token: write # to enable use of OIDC for npm provenance
  issues: write # to be able to comment on released issues
  pull-requests: write # to be able to comment on released pull requests

jobs:
  semantic-release:
    name: Semantic Release
    outputs:
      new_release_published: ${{ steps.semantic_release.outputs.new_release_published }}
      new_release_version: ${{ steps.semantic_release.outputs.new_release_version }}
      new_release_major_version: ${{ steps.semantic_release.outputs.new_release_major_version }}
      new_release_minor_version: ${{ steps.semantic_release.outputs.new_release_minor_version }}
      new_release_patch_version: ${{ steps.semantic_release.outputs.new_release_patch_version }}
      new_release_channel: ${{ steps.semantic_release.outputs.new_release_channel }}
      new_release_notes: ${{ steps.semantic_release.outputs.new_release_notes }}
      new_release_git_head: ${{ steps.semantic_release.outputs.new_release_git_head }}
      new_release_git_tag: ${{ steps.semantic_release.outputs.new_release_git_tag }}
      last_release_version: ${{ steps.semantic_release.outputs.last_release_version }}
      last_release_git_head: ${{ steps.semantic_release.outputs.last_release_git_head }}
      last_release_git_tag: ${{ steps.semantic_release.outputs.last_release_git_tag }}

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.base.ref || '' }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Temporarily merge PR branch
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
          git merge --no-ff origin/${{ github.event.pull_request.head.ref }} --message "${{ github.event.pull_request.title }}"
      - name: Download Release Artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        if: ${{ inputs.download-artifact-pattern != '' }}
        with:
          merge-multiple: true
          pattern: ${{ inputs.download-artifact-pattern }}
          path: target/
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@b12c8f6015dc215fe37bc154d4ad456dd3833c90 # v6.0.0
        id: semantic_release
        with:
          semantic_version: 25.0.2
          dry_run: ${{ github.event_name == 'pull_request' || inputs.dry-run }}
          unset_gha_env: ${{ github.event_name == 'pull_request' }}
          ci: ${{ github.event_name == 'pull_request' && false || '' }}
          extra_plugins: |
            @semantic-release/changelog
            conventional-changelog-conventionalcommits
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
